
@{
    ViewBag.Title = "Inicio de Sesión";

}

@section CustomCss{
    @Styles.Render("~/Content/customcss.css")
    }
<br />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first text-primary">
            <i class="fa fa-user-circle fa-4x"></i>
        </div>

  
        @if (Session["respLogin"] != null) { 
        <div class="alert alert-danger" role="alert" style="margin-top: 5px;">
            @Session["respLogin"]
        </div>
        }


        <!-- Login Form -->
        <form action="/Account/Login" method="post">
            <input type="text" id="login" class="fadeIn second" name="correo" placeholder="Ingresa tu correo electrónico" autofocus required>
            <input id="password" class="fadeIn third" name="password" placeholder="Ingresa tu contraseña" required type="password">
            <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">
        </form>



        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="" href="@Url.Action("Registro", "Account")"><i class="fa fa-user-plus"></i> Registrarse</a>
        </div>

    </div>
</div>

@*<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <form action="/Home/Login" method="post">
            <div class="form-group">
                <label>Ingrese Correo:</label>
                <input type="text" class="form-control" name="correo" />
                <br>
                <label>Ingrese Contraseña:</label>
                <input type="password" class="form-control" name="password" />
                <br>
                <button class="btn btn-primary">Iniciar Sesion</button>
                <br>
                <br>
                @Html.ActionLink("Registrarse", "Registro", "Home")
            </div>
        </form>
    </div>
</div>*@