USE [carrito]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IDCLI] [varchar](13) NOT NULL,
	[NOMCLI] [varchar](75) NULL,
	[APECLI] [varchar](75) NULL,
	[DIRCLI] [varchar](75) NULL,
	[FECCLI] [datetime] NULL,
	[ESTCLI] [int] NULL,
	[EMACLI] [varchar](75) NULL,
	[TELCLI] [varchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEPEDIDO]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEPEDIDO](
	[IDDET] [int] IDENTITY(1,1) NOT NULL,
	[IDPED] [int] NULL,
	[IDPRO] [int] NULL,
	[FECDET] [datetime] NULL,
	[CANDET] [int] NULL,
	[PUDET] [float] NULL,
	[DESDET] [float] NULL,
	[IVADET] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[IDEMP] [varchar](13) NOT NULL,
	[NOMEMP] [varchar](75) NULL,
	[DIREMP] [varchar](75) NULL,
	[TELEMP] [varchar](75) NULL,
	[EMAEMP] [varchar](75) NULL,
	[ESTEMP] [int] NULL,
	[IMGEMP] [varchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER](
	[IDMAS] [int] NOT NULL,
	[DESMAS] [varchar](75) NULL,
	[CODMAS] [varchar](75) NULL,
	[VALMAS] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[IDMEN] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[IDPED] [int] IDENTITY(1,1) NOT NULL,
	[IDCLI] [varchar](13) NULL,
	[IDREP] [int] NULL,
	[FECPED] [datetime] NULL,
	[ESTPED] [int] NULL,
	[LATPED] [varchar](75) NULL,
	[LOGPED] [varchar](75) NULL,
	[DIRPED] [varchar](200) NULL,
	[CALPED] [int] NULL,
	[COMPED] [varchar](200) NULL,
	[PGPED] [varchar](50) NULL,
	[FEPED] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[IDPERM] [char](10) NOT NULL,
	[IDROL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDPRO] [int] IDENTITY(1,1) NOT NULL,
	[DESPRO] [varchar](75) NULL,
	[PREPRO] [float] NULL,
	[STOCKPRO] [int] NULL,
	[FECPRO] [datetime] NULL,
	[ESTPRO] [int] NULL,
	[IMG] [varchar](75) NULL,
	[DESPROP] [float] NULL,
	[PESPRO] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPARTIDOR]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTIDOR](
	[IDREP] [int] IDENTITY(1,1) NOT NULL,
	[NOMREP] [varchar](75) NULL,
	[APEREP] [varchar](75) NULL,
	[ESTREP] [varchar](75) NULL,
	[CEDREP] [varchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IDROL] [int] IDENTITY(1,1) NOT NULL,
	[DESROL] [varchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USU] [varchar](75) NOT NULL,
	[IDROL] [int] NULL,
	[PASS] [varchar](75) NULL,
	[ESTUSU] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTES] ([IDCLI], [NOMCLI], [APECLI], [DIRCLI], [FECCLI], [ESTCLI], [EMACLI], [TELCLI]) VALUES (N'0804384790', N'JUAN ', N'ARMIJOS', N'QUITO', NULL, 1, N'juan@juan.com', N'09999255')
INSERT [dbo].[CLIENTES] ([IDCLI], [NOMCLI], [APECLI], [DIRCLI], [FECCLI], [ESTCLI], [EMACLI], [TELCLI]) VALUES (N'0804384791', N'PEDRO', N'RAMOS', N'QUITO', NULL, 1, N'admin@admin.com', N'0985495959')
INSERT [dbo].[CLIENTES] ([IDCLI], [NOMCLI], [APECLI], [DIRCLI], [FECCLI], [ESTCLI], [EMACLI], [TELCLI]) VALUES (N'123456789', N'ANA', N'RAMIREZ', N'ATACAMES', NULL, 1, N'ana@ana.com', N'2290565')
SET IDENTITY_INSERT [dbo].[DETALLEPEDIDO] ON 

INSERT [dbo].[DETALLEPEDIDO] ([IDDET], [IDPED], [IDPRO], [FECDET], [CANDET], [PUDET], [DESDET], [IVADET]) VALUES (69, 36, 55, CAST(N'2020-02-14T09:36:14.020' AS DateTime), 1, 12.36, 0, 1.12)
INSERT [dbo].[DETALLEPEDIDO] ([IDDET], [IDPED], [IDPRO], [FECDET], [CANDET], [PUDET], [DESDET], [IVADET]) VALUES (60, 32, 54, CAST(N'2020-02-13T14:05:10.057' AS DateTime), 3, 12.36, 0, 1.12)
INSERT [dbo].[DETALLEPEDIDO] ([IDDET], [IDPED], [IDPRO], [FECDET], [CANDET], [PUDET], [DESDET], [IVADET]) VALUES (62, 32, 58, CAST(N'2020-02-13T14:05:27.663' AS DateTime), 5, 1.55, 0, 1.12)
SET IDENTITY_INSERT [dbo].[DETALLEPEDIDO] OFF
INSERT [dbo].[MASTER] ([IDMAS], [DESMAS], [CODMAS], [VALMAS]) VALUES (1, N'IVA', N'IVA', 1.12)
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([IDPED], [IDCLI], [IDREP], [FECPED], [ESTPED], [LATPED], [LOGPED], [DIRPED], [CALPED], [COMPED], [PGPED], [FEPED]) VALUES (33, N'0802959775', 1, CAST(N'2020-02-13T23:05:41.827' AS DateTime), 2, N'-0.1555982', N'-78.35007639999999', N'QUIT AVENIDA AMERICA', 3, N'no entrego a tiempo', NULL, NULL)
INSERT [dbo].[PEDIDO] ([IDPED], [IDCLI], [IDREP], [FECPED], [ESTPED], [LATPED], [LOGPED], [DIRPED], [CALPED], [COMPED], [PGPED], [FEPED]) VALUES (34, N'0802959775', 1, CAST(N'2020-02-13T23:10:01.750' AS DateTime), 2, N'-0.1555982', N'-78.35007639999999', N'QUIT AVENIDA AMERICA', NULL, NULL, N'Contra entrega', NULL)
INSERT [dbo].[PEDIDO] ([IDPED], [IDCLI], [IDREP], [FECPED], [ESTPED], [LATPED], [LOGPED], [DIRPED], [CALPED], [COMPED], [PGPED], [FEPED]) VALUES (35, N'0802959775', 1, CAST(N'2020-02-14T01:15:21.690' AS DateTime), 2, N'-0.1555982', N'-78.35007639999999', N'QUIT AVENIDA AMERICA', NULL, NULL, N'Contra entrega', NULL)
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([IDPRO], [DESPRO], [PREPRO], [STOCKPRO], [FECPRO], [ESTPRO], [IMG], [DESPROP], [PESPRO]) VALUES (54, N'PULSERA', 12.36, 10, CAST(N'2020-02-13T13:59:46.360' AS DateTime), 1, N'/img/il_340x270.2231925545_9qao.jpg', 0, NULL)
INSERT [dbo].[PRODUCTOS] ([IDPRO], [DESPRO], [PREPRO], [STOCKPRO], [FECPRO], [ESTPRO], [IMG], [DESPROP], [PESPRO]) VALUES (55, N'ARETES', 12.36, 10, CAST(N'2020-02-13T14:00:06.760' AS DateTime), 1, N'/img/il_340x270.1131918964_teyr.jpg', 0, NULL)
INSERT [dbo].[PRODUCTOS] ([IDPRO], [DESPRO], [PREPRO], [STOCKPRO], [FECPRO], [ESTPRO], [IMG], [DESPROP], [PESPRO]) VALUES (56, N'VELAS AROMÁTICA ', 0.5, 10, CAST(N'2020-02-13T14:00:47.707' AS DateTime), 1, N'/img/taitaymama-300x225.jpg', 0, NULL)
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
SET IDENTITY_INSERT [dbo].[REPARTIDOR] ON 

INSERT [dbo].[REPARTIDOR] ([IDREP], [NOMREP], [APEREP], [ESTREP], [CEDREP]) VALUES (1, N' ', N' ', N'1', N'0804384790')
INSERT [dbo].[REPARTIDOR] ([IDREP], [NOMREP], [APEREP], [ESTREP], [CEDREP]) VALUES (2, N'LUIS', N'CAICEDO', N'1', N'1705458485')
INSERT [dbo].[REPARTIDOR] ([IDREP], [NOMREP], [APEREP], [ESTREP], [CEDREP]) VALUES (3, N'MARCOS', N'TAPIA', N'1', N'1755555557')
SET IDENTITY_INSERT [dbo].[REPARTIDOR] OFF
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IDROL], [DESROL]) VALUES (1, N'Cliente')
INSERT [dbo].[ROL] ([IDROL], [DESROL]) VALUES (2, N'Administrador')
SET IDENTITY_INSERT [dbo].[ROL] OFF
INSERT [dbo].[USUARIO] ([USU], [IDROL], [PASS], [ESTUSU]) VALUES (N'juan@juan.com', 1, N'123', 1)
INSERT [dbo].[USUARIO] ([USU], [IDROL], [PASS], [ESTUSU]) VALUES (N'admin@admin.com', 2, N'123', 1)
INSERT [dbo].[USUARIO] ([USU], [IDROL], [PASS], [ESTUSU]) VALUES (N'ana@ana.com', 1, N'123', 1)
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CLIENTES]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [PK_CLIENTES] PRIMARY KEY NONCLUSTERED 
(
	[IDCLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CLIENTES_CEDULA]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [PK_CLIENTES_CEDULA] UNIQUE NONCLUSTERED 
(
	[IDCLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DETALLEPEDIDO]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[DETALLEPEDIDO] ADD  CONSTRAINT [PK_DETALLEPEDIDO] PRIMARY KEY NONCLUSTERED 
(
	[IDDET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_EMPRESA]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[EMPRESA] ADD  CONSTRAINT [PK_EMPRESA] PRIMARY KEY NONCLUSTERED 
(
	[IDEMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MASTER]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[MASTER] ADD  CONSTRAINT [PK_MASTER] PRIMARY KEY NONCLUSTERED 
(
	[IDMAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_MENU]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[IDMEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PEDIDO]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [PK_PEDIDO] PRIMARY KEY NONCLUSTERED 
(
	[IDPED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_PERMISO]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[PERMISO] ADD  CONSTRAINT [PK_PERMISO] PRIMARY KEY NONCLUSTERED 
(
	[IDPERM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PRODUCTOS]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY NONCLUSTERED 
(
	[IDPRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_REPARTIDOR]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[REPARTIDOR] ADD  CONSTRAINT [PK_REPARTIDOR] PRIMARY KEY NONCLUSTERED 
(
	[IDREP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ROL]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[ROL] ADD  CONSTRAINT [PK_ROL] PRIMARY KEY NONCLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_USUARIO]    Script Date: 14/02/2020 11:44:19 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEP_RELATIONS_PEDIDO] FOREIGN KEY([IDPED])
REFERENCES [dbo].[PEDIDO] ([IDPED])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLEPEDIDO] CHECK CONSTRAINT [FK_DETALLEP_RELATIONS_PEDIDO]
GO
ALTER TABLE [dbo].[DETALLEPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEP_RELATIONS_PRODUCTO] FOREIGN KEY([IDPRO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRO])
GO
ALTER TABLE [dbo].[DETALLEPEDIDO] CHECK CONSTRAINT [FK_DETALLEP_RELATIONS_PRODUCTO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_RELATIONS_CLIENTES] FOREIGN KEY([IDCLI])
REFERENCES [dbo].[CLIENTES] ([IDCLI])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_RELATIONS_CLIENTES]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_RELATIONS_REPARTID] FOREIGN KEY([IDREP])
REFERENCES [dbo].[REPARTIDOR] ([IDREP])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_RELATIONS_REPARTID]
GO
ALTER TABLE [dbo].[PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_RELATIONS_ROL] FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROL] ([IDROL])
GO
ALTER TABLE [dbo].[PERMISO] CHECK CONSTRAINT [FK_PERMISO_RELATIONS_ROL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_RELATIONS_ROL] FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROL] ([IDROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_RELATIONS_ROL]
GO
/****** Object:  StoredProcedure [dbo].[SP_PEDIDO]    Script Date: 14/02/2020 11:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PEDIDO]
(
  @IDCLI VARCHAR (25),
  @IDPRO INT,
  @CANT INT,
  @PRECIO FLOAT,
  @IDPEDIDO INT
)
AS BEGIN
DECLARE @IVA FLOAT
DECLARE @IDP INT
DECLARE @ST INT
SET @IVA =(SELECT VALMAS FROM MASTER WHERE CODMAS='IVA')
SET @ST =(SELECT STOCKPRO FROM PRODUCTOS WHERE IDPRO=@IDPRO) 
    IF @CANT <= @ST
	 BEGIN
		  IF @IDPEDIDO = 0
			BEGIN
			 ---ISERT 
				INSERT INTO PEDIDO (IDCLI, IDREP,FECPED,ESTPED,LATPED,LOGPED) 
				VALUES (@IDCLI,1,GETDATE(),1,'','')
				SET @IDP =(SELECT SCOPE_IDENTITY())
				---INSERTAR DETALLE PEDIDO
				INSERT INTO DETALLEPEDIDO (IDPED,IDPRO,FECDET,CANDET,PUDET,DESDET,IVADET) 
				VALUES (@IDP, @IDPRO,GETDATE(),@CANT,ROUND(@PRECIO,2 ),0,@IVA )
				---ACTUALIZAR STOKC
				UPDATE PRODUCTOS set STOCKPRO = STOCKPRO - @CANT WHERE IDPRO =@IDPRO 
			END
			ELSE
			BEGIN
			   ---INSERTAR DETALLE PEDIDO
				IF EXISTS (SELECT IDPRO FROM DETALLEPEDIDO WHERE IDPRO =@IDPRO AND IDPED=@IDPEDIDO) 
				BEGIN
					UPDATE DETALLEPEDIDO SET CANDET=CANDET+@CANT, FECDET=GETDATE()  WHERE IDPRO =@IDPRO AND IDPED=@IDPEDIDO
					---ACTUALIZAR STOKC
				UPDATE PRODUCTOS set STOCKPRO = STOCKPRO - @CANT WHERE IDPRO =@IDPRO 
				     SELECT '0' AS RES
				END
				ELSE
				BEGIN
					INSERT INTO DETALLEPEDIDO (IDPED,IDPRO,FECDET,CANDET,PUDET,DESDET,IVADET) 
					VALUES (@IDPEDIDO, @IDPRO,GETDATE(),@CANT,ROUND(@PRECIO,2 ),0,@IVA )
					---ACTUALIZAR STOKC
			    	UPDATE PRODUCTOS set STOCKPRO = STOCKPRO - @CANT WHERE IDPRO =@IDPRO 
					 SELECT '0' AS RES
				END  
			END
      END
	  ELSE
		BEGIN
		 SELECT '1' AS RES
		END 
END


SELECT * FROM PEDIDO
GO
